@import "colors";
@import "luna_palette";

/* Mobile devices should get optional fonts */
@media only screen and (max-device-width: 479px) {
    @font-face {
        font-family: 'Iosevka';
        src: url("/fonts/iosevka-regular.woff2");
        font-display: optional;
    }
}

/* Desktops should use fallback */
@media (min-device-width: 480px) {
    @font-face {
        font-family: 'Iosevka';
        src: url("/fonts/iosevka-regular.woff2");
        font-display: fallback;
    }
    @font-face {
        font-family: 'Iosevka';
        src: url("/fonts/iosevka-italic.woff2");
        font-style: italic;
        font-display: fallback;
    }
    @font-face {
        font-family: 'Iosevka';
        src: url("/fonts/iosevka-bold.woff2");
        font-weight: bold;
        font-display: fallback;
    }
    @font-face {
        font-family: 'Iosevka';
        src: url("/fonts/iosevka-bolditalic.woff2");
        font-weight: bold;
        font-style: italic;
        font-display: fallback;
    }
}

$font: "Iosevka", "Fira Sans", "Roboto", "Helvetica", sans-serif;
$font-mono: "Iosevka", "Fira Mono", "Roboto Mono", "Consolas", monospace;
$padding: 8px;

* {
    box-sizing: border-box;
}

body {
    font: 105% $font;
    background: black;
    color: $white;
}

header {
    padding: 0;

    grid-area: header;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 0;
    grid-area: main;
}

footer {
    color: $gray_light;
    padding: 0;

    grid-area: footer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next-link {
    float: right;
}

nav {
    list-style-type: none;
    text-transform: lowercase;
}

.nav, address, nav li {
    display: inline
}

.home-link {
    font-size: 26px;
    letter-spacing: -2px;
    font-family: monospace, 'Iosevka';
    font-family: 'Consolas', 'Andale Mono', 'Lucida Console', monospace;
}

.header-left img {
    margin-top: -10px;
}

.header-right nav li:not(:last-child)::after {
    content: "|";
    color: $luna_hair_fill;
}

nav ul {
    margin: 0;
    padding: 0;
}

td, th {
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
}
td:not(:last-child) {
    text-align: center;
    border-right: 1px solid $luna_hair_fill;
}

ul {
    list-style: none inside none;
    list-style-type: "·";
    padding: 0;
}

li::marker {
    color: $green;
}

ul ul {
    padding-left: 1em;
}

a {
    font-size: none;
    color: $blue;
}

main a:visited, footer a:visited {
    color: $luna_hair_stroke;
}

main {
    backdrop-filter: blur(10px);
}

div.content {
    background-color: #0c0c0c;
    // border-radius: 1em;
    box-shadow: 0 0 1em 1em #0d0d0d;
}

article .article-description {
    margin-left: 1em;
}

p {
    margin: 0 0 1.12em 0;
}

h1.topline {
    margin: 0 0 0 0;
}

h1, h2, h3 {
    color: #fff;
}

h1 {
    font-size: 1.75em;
    margin: 1.5em 0 0 0;
    font-weight: bold;
}

h2 {
    margin: 1em 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
}

h2:after, h3:after {
    content: "";
    display: block;
    margin: 0 0 1px 0;
    padding: 0 0 0 0;
    margin-right: 33%;
    color: #224;
    background-color: #224;
    height: 3px;
}


h3:after {
    margin-right: 67%;
    height: 2px;
}

h3 {
    margin: 0.75em 0 0 0;
    font-size: 19px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

h5 {
    font-size: 13px;
    font-weight: bold;
}

h6 {
    font-size: 13px;
    font-weight: bold;
}

pre {
    padding: 1em;
    margin: 1em;
    overflow-x: auto;
}

code {
    font: 16px $font-mono;
}

p > code, li > code {
    font-weight: bold;
    color: $blue_light;
}

.date {
    color: $gray_light;
    font-size: 14px;
}

.notfound {
    text-align: center;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.content {
    margin: 0 auto;
    width: calc(min(1500px, max(1000px, 66vw)));
}

@media (max-width: 1200px) {
    .content {
        margin-left: 1em;
        margin-right: 1em;
        width: auto;
        max-width: 1200px;
        min-width: 200px;
    }
}

img {
    max-width: 100%;
}

p:has(+ hr) {
    margin: 0 0 0.62em 0;
}

footer hr {
     height: 0.5em;
}

hr {
    color: $luna_body_fill;
    background-color: $luna_body_fill;
    height: 0.25em;
    margin: 0.5em 0 0.5em 0;
}

hr.small {
    height: 0.2em;
}

blockquote {
    margin-left: 1em;
    padding-left: 0.5em;
    border-left: 2px solid $luna_body_fill;
}

hr + p, hr + blockquote {
    margin-top: 0;
}


pre[data-lang] {
    background-color: midnightblue !important;
}

.footnote-definition { font-size: 95%; }
.footnote-definition p { display: inline; } // https://github.com/getzola/zola/issues/1285
figcaption p { display: inline; }
sup + sup { margin-left: 0.25em; }

pre, code {
    white-space: pre-wrap;
    break-inside: initial;
    word-break: break-all;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
    max-height: calc(min(100em, 50vh));
    overflow-y: scroll;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
    position: sticky;
    top: -.5em;
    background-color: black;
}

figure {  margin: 0 auto; display: table; }

figcaption { display: table-caption; caption-side: bottom ; }

figure > p:first-child {
    margin: 0;
    text-align:center;
}

figure img {
    max-height: 50vh;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

